*{margin: 0;
padding: 0;

font-family: 'Montserrat Alternates', sans-serif;

}
body{
	background-color: black;
	height: 100vh;
	width: 100vw;
}
.box
{display: inline block;
	background: pink;
	width: 200px;
	height: 200px;
	}
h1{margin: 200px 0px 0px 0px;

text-align: center;
color: white;
font-family: 'Quicksand', sans-serif;
letter-spacing: 8px;
animation-name: slidein;
animation-duration: 4s;
display: flex;
justify-content: center;

}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
h2{
	text-align: center;
	padding: 100;
	margin: 100;
	font-family: 'Montserrat Alternates', sans-serif;
	color: white;
	display: flex;
justify-content: center;

}
h3{

}
h4
{
	color:#ffffff;
	padding: 10;
	 text-align: center;
	 font-family: 'Amatic SC', cursive;

}
#ho{color: white;
text-align: center;
color:#ffa500;
display: flex;
justify-content: center;


}
#intro{
	margin: 50;
	padding: 60;
font-family: 'Montserrat Alternates', sans-serif;
color: white;
font-size: 25px;
text-align: center;

}
#mainintro{
	font-size: 30px;
	color:#708238;
	text-align: center;
	display:flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	font-family: 'Comfortaa', cursive;
}
#talk{
	color:yellow;

}
#contact{
	padding: 50;
color: gray;

}
.contact
{display:flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
text-align: center;}